
.filmCardContainer{
    min-width: 282px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filmCard{
    border-radius: 12px;
    padding: 8px 8px 16px 8px;
    width: 282px;
    height: 480px;
    position: relative;
    margin-top: 20px;

    backdrop-filter: blur(80px);
    background: rgba(32, 40, 62, 0.8);
}

.filmCard img{
    border-radius: 8px;
}
.title{
    padding: 8px;
    padding-left: 0;
    width: 100%;
    height: 40px;
    margin: 8px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--grey-50);
}
.starRate{
    border-radius: 8px;
    padding: 4px 8px;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 18px;
    left: 16px;

    backdrop-filter: blur(8px);
    background: var(--black-65);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--warning-500);

}
.starRate span{
    display: block;
}