.container{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.loginImage{
    width: 486px;
    height: 584px;
}

.loginImage img{
    width: 486px;
    height: 560px;
}

.loginForm{
    margin-top: 140px;
    margin-left: 107px;
    width: 486px;
    height: 360px;
    margin-bottom: 120px;
}
.title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--grey-100);
    margin-bottom: 40px;
}

.loginBox{
    border: 1px solid var(--grey-700);
    border-radius: 12px;
    padding: 12px 16px;
    width: 486px;
    height: 64px;
    margin-bottom: 16px;
    display: flex;
    padding-left: 56px;
    position: relative;
}

.inputIcon{
    position: absolute;
    left: 16px;
    top: 20px;
    width: 24px;
    height: 24px;
}

.loginInput{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    outline: var(--grey-700);
    font-family: var(--font-family);
    color: var(--grey-400);
}

.submitBtn{
    border: 2px solid var(--primary-400);
    border-radius: 12px;
    padding: 16px 32px;
    width: 486px;
    height: 56px;
    margin-top: 40px;
    background: var(--primary-400);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-100);
    cursor: pointer;
}

.errMsg{

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--error-600);
    height: 20px;
    /* background-color: red;     */
    margin-top: -10px;
    margin-bottom: 20px;
}