.container{

}
.internalNav{

    margin-top: 12px;
}

.filmCounter{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--grey-400);
}

.filmCounter span{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
